body{
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

#container {
    height: 100vh;
    display: flex;
    border: 2px solid rgb(241, 10, 10);
    flex-direction: column;
}

/*Navigation bar*/
#navigation{
    display: flex;
    border: 2px solid purple;
    justify-content: flex-end;
    align-items: center;
    padding: 6px;
}

nav{
    margin-bottom: 60px;
}

.navbar-item{
    font-size: 12px;
    text-decoration: none;
    margin-right: 9px;
}

/*index page logo*/

#page-title{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    
}

#logo{
    height: 92px;
}

/*Main search*/
#center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 150px;
    border: 2px solid rgb(5, 201, 41);
    overflow: hidden;
}

#search-form{
    border: 3px solid purple;
    width: 100%;
    padding: 20px;

}

#search-container{
    display: flex;
    justify-content: center;
}

#search-bar{
    flex: 1 1 auto;
    background-color: white;
    height: 46px;
    min-width: 358.400px;
    max-width: 582.400px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #80808075;  /*need to fix this*/
    display: flex;
    flex-direction: row;
    align-items: center;
}

#search-bar:hover{
    transform: scale(1.002);
}

form{
    display: flex;
}

#magnifer{
    width: 15px;
    height: 15px;
    padding-left: 14px;
    padding-top: 6.5px;
}

#q{
    flex: auto;
    max-width: 443.400px;
    min-width: 219.400px;
    height: 27px;
    display: flex;
    margin-top: 7px;
    margin-left: 20px;
    border: 0;
    background-color: none;
}

/*search form buttons*/
#input-buttons{
    display: flex;
    justify-content: center;
    padding-top: 18px;
    gap: 4px;
}

input[type="submit"]{
    font-size: 14px;
    color: #3c4043;
    border-radius: 4px;
    line-height: 27px;
    min-width: 54px;
    height: 36px;
    padding: 0px 16px;
    margin: 11px 4px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
}

/*Pages Footer*/
footer{
    border: 3px solid orange;
    height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

footer a {
    text-decoration: none;
}

#foot{
   
}


