body{
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

#container {
    height: 100vh;
    display: flex;
    border: 2px solid rgb(241, 10, 10);
    flex-direction: column;
}

/*Navigation bar*/
#navigation{
    display: flex;
    border: 2px solid purple;
    justify-content: flex-end;
    align-items: center;
    padding: 6px;
}

nav{
    margin-bottom: 60px;
}

.navbar-item{
    font-size: 12px;
    text-decoration: none;
    margin-right: 9px;
}

